In [1]:
import pandas as pd
import numpy as np

In [87]:
ans = pd.read_csv(r'../result/10_30_CV_90_unzip.csv')

In [96]:
ans.object_id.nunique()

3492890

In [80]:
ans.head()

,class_6,class_15,class_16,class_42,class_52,class_53,class_62,class_64,class_65,class_67,class_88,class_90,class_92,class_95,class_99,object_id
0,0.0,0.002536,0.0,0.415095,0.043948,0.0,0.032072,0.000652,0.0,0.005241,0.000552,0.497805,0.0,0.002099,0.176375,13.0
1,0.0,0.005886,0.0,0.108876,0.013463,0.0,0.048363,0.004658,0.0,0.012685,0.002619,0.797219,0.0,0.006232,0.107780,14.0
2,0.0,0.005199,0.0,0.063914,0.008251,0.0,0.018703,0.002576,0.0,0.014331,0.012107,0.867410,0.0,0.007508,0.075995,17.0
3,0.0,0.003614,0.0,0.177923,0.011381,0.0,0.035405,0.003067,0.0,0.081573,0.001515,0.678767,0.0,0.006756,0.149492,23.0
4,0.0,0.002757,0.0,0.052364,0.058403,0.0,0.009010,0.000339,0.0,0.007134,0.000275,0.868779,0.0,0.000940,0.075262,34.0

In [92]:
ans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3492890 entries, 0 to 3492889
Data columns (total 16 columns):
class_6      float32
class_15     float32
class_16     float32
class_42     float32
class_52     float32
class_53     float32
class_62     float32
class_64     float32
class_65     float32
class_67     float32
class_88     float32
class_90     float32
class_92     float32
class_95     float32
class_99     float32
object_id    int32
dtypes: float32(15), int32(1)
memory usage: 213.2 MB

In [90]:
probas = ans.columns.tolist()[0:15]

ans[probas] = ans[probas].astype(np.float32)

In [91]:
ans.object_id = ans.object_id.astype(np.int32)

In [7]:
# ans.to_csv(r'../result/10_30_CV_90_unzip.gz', float_format='%.6f', header=True, index=False, compression='gzip')

In [48]:
# to_add_list = ans.columns.tolist()[0:15]
# ans['tot'] = 0
# for col in to_add_list:
#     ans.tot = ans.tot + ans[col]

In [94]:
ans.class_99 = ans.class_99*0.1/0.14

In [95]:
ans.class_99.describe()

count    3.492890e+06
mean     9.999999e-02
std      4.439533e-02
min      5.642857e-05
25%      7.902429e-02
50%      1.096768e-01
75%      1.353686e-01
max      1.677772e-01
Name: class_99, dtype: float64

In [98]:
ans.to_csv(r'../result/10_30_CV_90_cls99_010.gz', float_format='%.6f', header=True, index=False, compression='gzip')